---
- name: Ensure curl present
  become: true
  ansible.builtin.package:
    name: curl
    state: present

- name: Detect installed k0s version (if any)
  ansible.builtin.command: k0s version --short
  register: k0s_ver
  failed_when: false
  changed_when: false

- name: Install k0s
  become: true
  ansible.builtin.shell: |
    curl -sSLf https://get.k0s.sh | sh
  environment:
    K0S_VERSION: "{{ k0s_version }}"
  when: k0s_ver.rc != 0 or (k0s_ver.stdout | trim) != k0s_version

- name: require join token
  ansible.builtin.fail:
    msg: "k0s_token is empty. Provide a worker join token."
  when: (k0s_token | trim) == ""

- name: Write variable content to file
  ansible.builtin.copy:
    dest: "{{ ansible_env.HOME }}/k0s-token.txt"
    content: "{{ k0s_token }}"
    owner: root
    group: root
    mode: '0644'

- name: Install worker service
  become: true
  ansible.builtin.command: >
    k0s install worker --token-file '{{ ansible_env.HOME }}/k0s-token.txt'
  args:
    creates: /etc/systemd/system/k0sworker.service

- name: Enable and start worker
  become: true
  ansible.builtin.systemd:
    name: k0sworker
    daemon_reload: true
    enabled: true
    state: started
