# roles/common/tasks/hostname.yml
- name: Fail fast if required vars are missing
  ansible.builtin.assert:
    that:
      - hostname is defined

- name: Enforce hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
    use: systemd
