# Managed by Ansible — MySQL backup env
BACKUP_BASEDIR={{ base_dir }}
MYSQL_OPTION_FILE={{ mysql_option_file }}
XTRABACKUP_BIN={{ xtrabackup_bin }}
MYSQL_BIN={{ mysql_bin }}
MYSQLBINLOG_BIN={{ mysqlbinlog_bin }}
PARALLEL={{ xb_parallel }}
EXTRA_OPTS={{ xb_extra_opts }}
EXTRA_MB_OPTS={{ mysqlbinlog_extra_opts }}
