[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}

{% set args = [] %}
{% set _ = args.append('--web.listen-address=:' ~ node_exporter_port) %}
{% if node_exporter_manage_textfile_dir and node_exporter_textfile_dir %}
{%   set _ = args.append('--collector.textfile.directory=' ~ node_exporter_textfile_dir) %}
{% endif %}
{% for flag in node_exporter_extra_collectors %}
{%   set _ = args.append(flag) %}
{% endfor %}
{% for flag in node_exporter_disable_collectors %}
{%   set _ = args.append(flag) %}
{% endfor %}
{% for flag in node_exporter_extra_flags %}
{%   set _ = args.append(flag) %}
{% endfor %}

ExecStart={{ node_exporter_bin_path }} {{ args | join(' ') }}
Restart=always
RestartSec=2

NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
{% if node_exporter_manage_textfile_dir and node_exporter_textfile_dir %}
ReadWritePaths={{ node_exporter_textfile_dir }}
{% endif %}

