# /etc/systemd/system/k3s-agent.service.d/proxy.conf
[Service]
{% if http_proxy is defined %}Environment="HTTP_PROXY={{ http_proxy }}"{% endif %}
{% if https_proxy is defined %}Environment="HTTPS_PROXY={{ https_proxy }}"{% endif %}
{% if no_proxy is defined and no_proxy|length > 0 %}Environment="NO_PROXY={{ no_proxy }}"{% endif %}

