apiVersion: 1
datasources:
{% for ds in grafana_datasources %}
  - name: {{ ds.name }}
    type: {{ ds.type }}
    url: {{ ds.url }}
    access: {{ ds.access | default("proxy") }}
    isDefault: {{ ds.isDefault | default(false) | to_json }}
    editable: {{ ds.editable | default(false) | to_json }}
{% endfor %}
