# {{ ansible_managed }}

table inet filter {
  chain input {
    type filter hook input priority 0;
    policy drop;

    iifname "lo" accept
    ct state established,related accept

    tcp dport 22 ip saddr $trusted_subnets ct state new,established accept

    # Only nginx front door
    tcp dport 80 ip saddr $trusted_subnets accept
    # add later:
    # tcp dport 443 ip saddr $trusted_subnets accept

    ip protocol icmp accept
    ip6 nexthdr ipv6-icmp accept
  }

  chain output {
    type filter hook output priority 0;
    policy drop;

    ct state established,related accept
    oifname "lo" accept

    # port 53 is for dns resolution
    udp dport 53 accept
    tcp dport {53, 80, 443, {{ node_exporter_port }} } accept

    ip protocol icmp accept
    ip6 nexthdr ipv6-icmp accept
  }
}

