# Minimal Omnibus config for lab (HTTP only)
external_url "{{ gitlab_external_url }}"
gitlab_rails['time_zone'] = "{{ gitlab_timezone }}"
nginx['listen_https'] = false
nginx['listen_port'] = 80
gitlab_rails['relative_url_root'] = "/gitlab"
