- name: Install and enable Percona Server for MySQL (Debian family)
  import_tasks: install_debian.yml
  when: ansible_facts['os_family'] == 'Debian'

- name: Install and enable Percona Server for MySQL (RedHat family)
  import_tasks: install_redhat.yml
  when: ansible_facts['os_family'] == 'RedHat'

- name: Install backup tool
  apt:
    name: percona-xtrabackup-80
    state: present
  become: true

- name: Render systemd unit for mysql
  block:
  - ansible.builtin.template:
      src: mysql.service.j2
      dest: /etc/systemd/system/{{ percona_mysql_service_name }}.service
      owner: root
      group: root
      mode: "0644"
  - name: systemd daemon-reload
    ansible.builtin.command: systemctl daemon-reload
  notify:
    - restart mysql

- name: ensure datadir exists
  ansible.builtin.file:
    path: "{{ percona_mysql_datadir }}"
    state: directory
    owner: "{{ percona_mysql_user }}"
    group: "{{ percona_mysql_group }}"
    mode: "0750"

- name: render mysql's main config
  ansible.builtin.template:
    src: my.cnf.j2
    dest: "{{ percona_mysql_main_conf }}"
    owner: "{{ percona_mysql_user }}"
    group: "{{ percona_mysql_group }}"
    mode: "0644"
  notify: restart mysql

- name: Ensure MySQL service enabled/started
  ansible.builtin.service:
    name: "{{ percona_mysql_service_name }}"
    enabled: "{{ percona_mysql_service_enabled }}"
    state: "{{ percona_mysql_service_state }}"
